
.hero-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  padding-top: 90px;
  padding-bottom: 50px; 
  margin-bottom: 0;
  background-color: white;
}

.hero-content {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top : 20px;
}


.hero-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 15px;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #444;
  max-width: 600px;
  line-height: 1.6;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .hero-root {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }
}
