.login-container {
  background: linear-gradient(135deg, #002b80, #007bff);
}

.login-card {
  width: 850px;
  max-width: 95%;
  overflow: hidden;
}

.login-left {
  width: 50%;
  background: linear-gradient(160deg, #0056b3, #00bfff);
  color: white;
}

.login-right {
  width: 50%;
}

.logo-img {
  width: 120px;
  height: 120px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}

.btn-primary {
  background: #007bff;
  border: none;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background: #0056b3;
}

.btn-success {
  background: #28a745;
  border: none;
}

.btn-success:hover {
  background: #1e7e34;
}

.login-card:hover {
  transform: translateY(-3px);
  transition: 0.3s;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}
